@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

.corpo {
  display: grid;
  grid-area: "content";
  background: url('../img/bg-bons-drinks.jpg') no-repeat 50%;
  justify-content: center;

}

.aniLogo {
    color: #FFFBEF;
    font-family: 'Bilbo Swash Caps';
    font-size: 120px;
    margin-top: 0px;

  }
  
  img {
    width: 450px;
  }

  .logo {
    font-family: Bilbo Swash Caps;
    font-size: 45px;
    font-weight: lighter;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 3fr);
    place-items: center;
  }

  .background {
    background-image: url('../img/bg-bons-drinks.jpg');
    background-repeat: no-repeat;
    place-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
  }

  