@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.corpo h2 {
    color: #5c0511;
    font-family: 'Open Sans Condensed';
    font-size: 30px;
  }
  
  img {
    width: 450px;
  }



  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 3fr);
    place-items: center;
  }

  .corpo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    grid-area: "content";
  
  }

  .form {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 3fr);
    place-items: left;
    font-size: 20px;
    font-weight: bold;
    gap: 5px;
  }

  